@charset "UTF-8";

/* CORES */
:root {
    --lightgray: #d6e2f0;
    --grayishblue: #7b879d;
    --darkblue: #1f3251;
}

/* FONTE */
@import url('<https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap>');

/* BODY */
body{
    background-color: var(--lightgray);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTEÚDO CENTRAL */
#central{
    background-color: white;
    align-content: center;
    padding: 15px;
    width: 320px;
    height: 506.16px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* QR CODE */
a.qrcode{
    display: flex;
    justify-content: center;
}

img{
    width: 320px;
    border-radius: 10px;
    align-self: center;
}

/* ANIMAÇÃO HOVER DA IMAGEM */
img:hover{
    width: 330px;
    transition-duration: 0.2s;
}

/* TÍTULO */
h1{
    font-weight: 700;
    font-size: x-large;
    padding: 0px 10px;
}

/* PARÁGRAFO */
p{
    font-weight: 400;
    color: var(--grayishblue);
    font-size: medium;
    padding: 0px 10px;
}

/* ATRIBUIÇÃO */
.attribution {font-size: 11px; text-align: center; }
.attribution a {color: hsl(228, 45%, 44%); }
