@charset "UTF-8";

:root {
  /* Primary */
  --softblue: #8bacda;
  --cyan: #00fff7;

  /* Secondary */
  --darkblue_main_BG: #0d192b;
  --darkblue_card_BG: #14253d;
  --darkblue_line: #2f415b;

  --base_width: 300px;
}

@import url('<https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap>');

body {
  background-color: var(--darkblue_main_BG);
  color: white;
  font-family: 'Outfit', sans-serif;

  /* I chose to settle at 98% bc more than that causes the browser to create scrolling bars both vertical and horizontal */
  width: 98vw;
  height: 98vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#central {
  background-color: var(--darkblue_card_BG);
  width: var(--base_width);
  height: 545px;

  padding: 25px;

  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

img#equilibrium {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  align-self: center;
}

#description {
  font-weight: 100;
  color: var(--softblue);
}

div#price_days {
  width: var(--base_width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.price{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

div.time{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

p.timelimit {
  color: var(--softblue);
  font-weight: 500;
  margin-left: 7px;
}

p.eth{
  color: var(--cyan);
  font-weight: 700;
  margin-left: 7px;
}

hr{
  width: 100%;
  height: 1px;
  border-color: #8bacda6b;
}

div#credits {
  width: var(--base_width);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

img#creator {
  width: 30px;
  height: 30px;
  align-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 101vw;
  background-color: #1a2b44;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(227, 37%, 64%);
}
