@charset "UTF-8";

:root {
  /* Colors */
  --softblue: #8bacda;
  --cyan: #00fff7;
  --darkblue-main-bg: #0d192b;
  --darkblue-card-bg: #14253d;
  --darkblue-line: #2f415b;
  
  /* Sizes */
  --base-width: 300px;

  /* Reset */
  margin: 0;
  padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

/* Body */
body {
  background-color: var(--darkblue-main-bg);
  color: white;
  font-family: 'Outfit', sans-serif;
  height: 98vh;
  height: 96svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Central */
#central {
  align-items: flex-start;
  background-color: var(--darkblue-card-bg);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.459);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
  padding: 25px;
  width: var(--base-width);
}

/* Images */
img#equilibrium,
div.blend {
  align-self: center;
  border-radius: 12px;
  height: 300px;
  margin-bottom: 15px;
  width: 300px;
}

img#equilibrium:hover {
  mix-blend-mode: color-dodge;
}

div.blend:hover {
  background-color: rgba(0, 255, 191, 0.37);
  transition-duration: 0.5s;
}

/* Headings */
h2:hover {
  color: var(--cyan);
  transition-duration: 0.5s;
}

/* Description */
#description {
  color: var(--softblue);
  font-weight: 100;
  margin: 5px 0;
}

/* Price and Days */
div#price_days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  width: var(--base-width);
}

div.price,
div.time {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.timelimit,
p.eth {
  color: var(--softblue);
  font-weight: 500;
  margin-left: 7px;
}

p.eth {
  color: var(--cyan);
  font-weight: 700;
}

/* Horizontal Rule */
hr {
  border-color: #8bacda6b;
  height: 1px;
  width: 100%;
}

/* Credits */
div#credits {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: var(--base-width);
}

a#imgcreator,
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
  transition-duration: 0.5s;
}

img#creator {
  align-self: center;
  border: white solid 1px;
  border-radius: 100%;
  height: 30px;
  margin-right: 17px;
  width: 30px;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1a2b44;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(227, 37%, 64%);
}